body, html {
  color: #555;
}
.container {
  padding-top: 200px;
  max-width: 535px;
}

.form-control {
  background: #f1f1f1;
  font-size: 2em;
  padding: 1em 1em;
  border: 0;
  box-shadow: none;
}
.btn {
  background: #3B9374;
  color: #fff;
  padding: 1em 2em;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  &:hover {
    opacity: 0.8;
  }
}
